[Unit]
Description=Stress CPU Service
After=network.target

[Service]
ExecStart=/usr/local/bin/random-stress-cpu.sh
User=poddingue
Group=poddingue

[Install]
WantedBy=multi-user.target
